<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="5.3.0" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net48" />
  <package id="Krypton.Navigator" version="70.22.11.312" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="100.25.11.328" targetFramework="net48" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net48" />
  <package id="ZXing.Net" version="0.16.11" targetFramework="net48" />
</packages>